<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>90</integer>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.0</real>
	<key>finishColorGreen</key>
	<real>0.0</real>
	<key>finishColorRed</key>
	<real>0.0</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<integer>30</integer>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<integer>0</integer>
	<key>gravityy</key>
	<integer>0</integer>
	<key>maxParticles</key>
	<integer>250</integer>
	<key>maxRadius</key>
	<integer>0</integer>
	<key>maxRadiusVariance</key>
	<integer>0</integer>
	<key>minRadius</key>
	<integer>0</integer>
	<key>minRadiusVariance</key>
	<integer>0</integer>
	<key>particleLifespan</key>
	<real>4</real>
	<key>particleLifespanVariance</key>
	<real>1</real>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<integer>-60</integer>
	<key>rotatePerSecond</key>
	<integer>0</integer>
	<key>rotatePerSecondVariance</key>
	<integer>0</integer>
	<key>rotationEnd</key>
	<integer>0</integer>
	<key>rotationEndVariance</key>
	<integer>0</integer>
	<key>rotationStart</key>
	<integer>0</integer>
	<key>rotationStartVariance</key>
	<integer>0</integer>
	<key>sourcePositionVariancex</key>
	<integer>0</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<integer>231</integer>
	<key>sourcePositiony</key>
	<integer>308</integer>
	<key>speed</key>
	<integer>80</integer>
	<key>speedVariance</key>
	<integer>10</integer>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.5</real>
	<key>startColorGreen</key>
	<real>0.5</real>
	<key>startColorRed</key>
	<real>0.5</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.5</real>
	<key>startColorVarianceGreen</key>
	<real>0.5</real>
	<key>startColorVarianceRed</key>
	<real>0.5</real>
	<key>startParticleSize</key>
	<integer>30</integer>
	<key>startParticleSizeVariance</key>
	<integer>10</integer>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>15</integer>
	<key>textureFileName</key>
	<string>6B7945D7-4D7C-40A5-801B-4883F571980D</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAA72W30tbZxjHz0lLjD8YrrpqmczIRq3SzUAnI9CVBQvdOrtG7cVq
YTWLh65MazjGHy3MGynuZoVR3EWEym7mzaQORlkvBuJNR7ddtMX9AV70QgZl1s7S
due7T05SPDGJZoPtheecJ8/zfd7n5/uenDhhtBpGIGD8R0tlKleFKqFylf1DyypV
q1Z1qtc+qA6+Gtm2u2jQffrB1WDVqFfVrBa1Qs3wjchq0Plz8ZvLCTmrCuCnXk06
oDa1K6zDehsKw7cha0JXLbdiWlUoLwJLDxXSfiisiN5Vp04qCnXCR5CldQ3ao1ec
NedsnnUAzayk43oH6lGv+hRXP9QH3+PK28nmTTBf5Vn7iawB7U3JOaczxDIoW6Ma
g2x4C1lUR9XlSAtg/Vvsq8htP/sf1S0Qs1hNaFJT+hyahB/VAHFcceT8CK5eVVs6
VkN1QkQYVZ/zwPVxRdNKaQaahr+sS/oa69/BhMDWeLuJ933UN0yOZ/BzifpIi5rT
vK5Dc7qmq/oO6wfoj4M7AN4TAfk00qEIVbKI9LKuOo/Y4Q57LEE32WUJ6zV0FpgI
2EZVe6KvZULa6VIvlZog2mu67jxmhxUt665uaxnrdeQT6HvBtYOvfZ4B813HjIXp
cx+1niTfOXzedp66Ea/oPu8NZNPobDCdYJuxKc/aV1DPFubsJL0epd4pcl7E74rz
F918DD3h9zzyKfRxcIfB16sia19JNVqZ1CjTMkbHZtL5Evl9rTMrcp7BLyGbQTcG
Jgq2FZvKnfzrEdbpLVa29V8kfzfvZ2Tx1O1F8fwL1t+t+ZNM/d1eLBarf6H+u/3e
2Oy/Ow8LhfufP3/urK3nzp87k7NF5i9n/t05X8uff/dcfFFo/nPO34g7NQXPH6dH
+ij//HnO//sg7m1z/n8lhkP55z97/7yF9ocd7p8FMK9ttc7MAZr5Eu6/bxwVtN/A
W0n3r85qI886pSOl3/86olSuvbPL080Svj+b+MLr33///uf1gmkY6VxMI8jD9PA+
l/cZASNg7srKAZt+D/+isdvl+Sth7vHIX8ryPh57PXvWPccHDLPBg+/24HuyftFM
DRvUzhwHfyMTrjkeSyQGfJzewQtJ+1h35PSHp3uDZcvgzAwiFh9ORKLRzuIp//lb
Bnvv9fReqZ9b/lj9qevLG03fftC2/NnCDvXa3W8Nx3l/D43EE3aSmA7CN396qrsD
/lS6pmPJRFreD1+bxafXyx2xgfMf27Gk1R88ZscuBjuGBobs4UQsbpXartJX0hpP
pt8dQ4mL9vlznySDEbK18DmYGEla9sHgexfibxhGfMQezZqYvkOGka5n5ufDLrdO
5t5f/gYxdWFJLgoAAA==</string>
</dict>
</plist>
